<div class="documents-form">
  <div class="form-box">

    <h1 class="documents-form__title">Поле документов</h1>
    <hr>

    <form class="documents-form__group" [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="documents-form__input-container">
        <label for="docType">Тип документа</label>
        <select class="documents-form__input"
                id='docType'
                formControlName="docType"
        >
          <option *ngIf="!form.get('docType').value" value="" disabled selected>Выберите тип документа</option>
          <option value="passport">Паспорт</option>
          <option value="certificate">Cвидетельство о рождении</option>
          <option value="driversLicense">Вод.удостоверение</option>
        </select>
      </div>

      <ng-container [ngSwitch]="form.get('docType').value">
        <div *ngSwitchCase="'passport'" class="documents-form__switch-container">
          <div class="documents-form__input-container">
            <label for="series">Серия</label>
            <input class="documents-form__input" id="series" type="number" formControlName="series">
          </div>

          <div class="documents-form__input-container">
            <label for="number">Номер</label>
            <input class="documents-form__input" id="number" type="number" formControlName="number">
          </div>

          <div class="documents-form__input-container">
            <label for="extradition">Кем выдан?</label>
            <input class="documents-form__input" id="extradition" type="text" formControlName="extradition">
          </div>

          <div class="documents-form__input-container">
            <label for='date'>Дата выдачи <sup>*</sup></label>
            <input id="date"
                   type="date"
                   formControlName="date"
                   class="documents-form__input"
                   [class.invalid]="form.get('date').touched && form.get('date').invalid|| form.get('date').invalid && formInvalid "
            >
            <div class="documents-form__error">
              <small
                *ngIf="form.get('date').touched && form.get('date').invalid && form.get('date').errors['required'] || form.get('date').invalid && formInvalid">Веедите
                дату получения паспорта</small>
            </div>
          </div>

          <small class="documents-form__description"><sup>*</sup> Поля обязательные для ввода</small>
        </div>

        <div *ngSwitchCase="'certificate'" class="documents-form__switch-container">

          <div class="documents-form__input-container">
            <label for="seriesCertificate">Серия</label>
            <input class="documents-form__input" id="seriesCertificate" type="number"
                   formControlName="seriesCertificate">
          </div>

          <div class="documents-form__input-container">
            <label for="numberCertificate">Номер</label>
            <input class="documents-form__input" id="numberCertificate" type="number"
                   formControlName="numberCertificate">
          </div>

          <div class="documents-form__input-container">
            <label for='dateCertificate'>Дата выдачи</label>
            <input class="documents-form__input" id="dateCertificate" type="date" formControlName="dateCertificate">
          </div>

          <div class="documents-form__input-container">
            <label for="placeReg">Место государственной регистрации</label>
            <input class="documents-form__input" id="placeReg" type="text" formControlName="placeReg">
          </div>
        </div>

        <div *ngSwitchCase="'driversLicense'" class="documents-form__switch-container">

          <div class="documents-form__input-container">
            <label for="driverNumber">Место государственной регистрации</label>
            <input class="documents-form__input" id="driverNumber" type="number" formControlName="driverNumber">
          </div>

        </div>
      </ng-container>

      <div class="documents-form__buttons">
        <button class="documents-form__button-back" type="button" (click)="goPreviousPage()">Назад</button>
        <button class="documents-form__button-next" type="submit">Зарегестрироваться</button>
      </div>

    </form>
  </div>

</div>
