@import "src/assets/styles/reset";


.form-box {
  bottom: 0;
  padding: 35px 45px;
  background: rgb(191 202 207 / 48%);
  box-shadow: 0 0 19px 5px rgb(66 77 82 / 73%);
  max-width: 630px;
  margin: 40px auto;
  border-radius: 10px;
}
