.border {
  background-color: #fff;
  padding: 35px 45px;
  border: 4px solid rgba(50, 50, 55, 0.63);
  max-width: 630px;
  margin: 50px auto;
}

sup {
  color: red;
}

h1 {
  margin: 5px auto;
}

hr {
  margin: 0 0 0 5px;
}

.multiselect {
  padding: 5px 50px 5px 5px;
}

.invalid {
  input {
    border-color: red;
  }
}

small {
  color: red;
  margin-left: 5px;
}

.btn {
  background: rgba(0, 255, 17, 0.68);
  color: #333;
  cursor: pointer;
  padding: 0.4rem 1.5rem;
  font-size: 1rem;
  position: absolute;
  margin-left: 25em;
  border-color: rgba(50, 50, 55, 0.63);

  &:disabled {
    //cursor: not-allowed;
    background-color: rgba(42, 43, 84, 0.33);
    color: #111;
  }
}

.btn-back {
  background: #ffffff;
  color: #333;
  cursor: pointer;
  padding: 0.4rem 1.2rem;
  font-size: 1rem;
  margin-left: 0;
  border-color: rgba(50, 50, 55, 0.63);
}

input {
  padding: 0.3rem;

}

div {
  margin: 20px auto;
  font-family: 'Bahnschrift', sans-serif;
  font-size: 15px;
}

label {
  padding: 5px;
  margin: 15px auto;
}

p {
  padding: 5px;
  margin: 15px auto;
}

.checked {
  margin: 30px auto;
}

.check {
  cursor: pointer;
}

select {
  padding: 0.3rem
}

.btn:hover {
  opacity: 0.8;
}

.error {
  color: red;
}
