<div class="profile-form">
  <div class="form-box">

    <h1 class="profile-form__title">Поле профиля</h1>
    <hr>

    <form [formGroup]="form" class="profile-form__group">

      <div class="profile-form__input-container"
           [class.invalid]="form.get('secondName').touched && form.get('secondName').invalid">
        <label for="secondName" class="label">Фамилия <sup>*</sup></label>
        <input id="secondName" type="text" formControlName="secondName" class="input">
        <small
          *ngIf="form.get('secondName').touched && form.get('secondName').invalid && form.get('secondName').errors['required']">Поле
          не может быть пустым</small>
      </div>

      <div class="profile-form__input-container"
           [class.invalid]="form.get('firstName').touched && form.get('firstName').invalid">
        <label for="firstName" class="label">Имя<sup>*</sup></label>
        <input id="firstName" type="text" formControlName="firstName" class="input">
        <small
          *ngIf="form.get('firstName').touched && form.get('firstName').invalid && form.get('firstName').errors['required']">Поле
          не может быть пустым</small>
      </div>

      <div class="profile-form__input-container">
        <label for="thirdName" class="label">Отчество</label>
        <input id="thirdName" type="text" formControlName="thirdName" class="input">
      </div>

      <div class="profile-form__input-container"
           [class.invalid]="form.get('birthday').touched && form.get('birthday').invalid">
        <label for="birthday" class="label">Дата рождения <sup>*</sup></label>
        <div class="err">
          <input id="birthday" type="date" formControlName="birthday" class="input">
          <small
            *ngIf="form.get('birthday').touched && form.get('birthday').invalid && form.get('birthday').errors['required']">Поле
            не может быть пустым</small>
        </div>
      </div>

      <div class="profile-form__input-container">
        <p>Пол:</p>
        <div class="profile-form__male-container">
          <input type="radio" id="male" name="sex" class="input" formControlName="sex" value="male">
          <label for="male" class="label">Мужской</label>
        </div>
        <div class="profile-form__male-container">
          <input type="radio" id="female" name="sex" class="input" formControlName="sex" value="female">
          <label for="female" class="label">Женский</label>
        </div>
      </div>

      <div class="profile-form__input-container"
           [class.invalid]="form.get('phoneNumber').touched && form.get('phoneNumber').invalid">
        <label for="phoneNumber" class="label">Мобильный телефон<sup>*</sup></label>

          <input id="phoneNumber" type="tel" maxlength="12" formControlName="phoneNumber"
                 (ngModelChange)="currentNumber()" class="input">
          <small
            *ngIf="form.get('phoneNumber').touched && form.get('phoneNumber').invalid && form.get('phoneNumber').errors['required']">Поле
            не может быть пустым</small>
          <small
            *ngIf="form.get('phoneNumber').touched && form.get('phoneNumber').invalid && form.get('phoneNumber').errors['minlength']">Телефон
            должен содержать 11 цифр</small>

      </div>

      <div class="profile-form__input-container">
        <label for="doctors" class="label">Лечащий врач</label>
        <select id='doctors' formControlName="doctors" class="form-input">
          <option>Иванов</option>
          <option>Захарова</option>
          <option>Черышева</option>
        </select>
      </div>

      <div class="profile-form__input-container"
           [class.invalid]="form.get('clientGroup').touched && form.get('clientGroup').invalid">
        <label for="clientGroup" class="label">Группа клиентов <sup>*</sup></label>
        <select multiple="multiple" id="clientGroup" size="3" formControlName="clientGroup" class="input">
          <option value="Ivanov">Иванов</option>
          <option value="Zakharova">Захарова</option>
          <option value="Cherisheva">Черышева</option>
        </select>
        <small
          *ngIf="form.get('clientGroup').touched && form.get('clientGroup').invalid && form.get('clientGroup').errors['required']">Поле
          не может быть пустым</small>
      </div>

      <div class="profile-form__input-container row">
        <input type="checkbox" id="sms" formControlName="sms" class="input">
        <label for="sms" class="label">Не отправлять СМС</label>
      </div>

      <small><sup>*</sup> Поля обязательные для ввода</small>

      <div class="profile-form__buttons">
        <button class="profile-form__button-back" type="button" (click)="clearForm()">Отменить</button>
        <button class="profile-form__button-next" type="button" (click)="nextPage()">Далее</button>
      </div>

    </form>
  </div>
</div>
