.profile-form{
  &__title{
font-size: 30px;
  }
  &__group{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__input-container{
    display: flex;
    flex-direction: column;
  }
  &__male-container{
    display: flex;
  }
}
.row {
  flex-direction: row;
  gap: 5px;
  font-size: 10px;
  align-items: flex-end;
}
