<div class="profile-form">
  <div class="form-box">

    <h1 class="profile-form__title">Поле профиля</h1>
    <hr>

    <form [formGroup]="form" class="profile-form__group">

      <div class="profile-form__input-container">
        <label for="secondName" class="profile-form__label">Фамилия <sup>*</sup></label>
        <input id="secondName"
               type="text"
               formControlName="secondName"
               class="profile-form__input"
               [class.invalid]="form.get('secondName').touched && form.get('secondName').invalid || form.get('secondName').invalid && formInvalid"
        >
        <div class="profile-form__error">
          <small
            *ngIf="form.get('secondName').touched && form.get('secondName').invalid && form.get('secondName').errors['required'] || form.get('secondName').invalid && formInvalid">Поле
            не может быть пустым</small>
        </div>
      </div>

      <div class="profile-form__input-container">
        <label for="firstName" class="profile-form__label">Имя<sup>*</sup></label>
        <input id="firstName"
               type="text"
               formControlName="firstName"
               class="profile-form__input"
               [class.invalid]="form.get('firstName').touched && form.get('firstName').invalid || form.get('firstName').invalid && formInvalid"
        >
        <div class="profile-form__error">
          <small
            *ngIf="form.get('firstName').touched && form.get('firstName').invalid && form.get('firstName').errors['required'] || form.get('firstName').invalid && formInvalid">Поле
            не может быть пустым</small>
        </div>
      </div>

      <div class="profile-form__input-container">
        <label for="thirdName" class="profile-form__label">Отчество</label>
        <input id="thirdName" type="text" formControlName="thirdName" class="profile-form__input">
      </div>

      <div class="profile-form__sex-container">
        <div class="profile-form__input-container_birthday">
          <label for="birthday" class="profile-form__label">Дата рождения <sup>*</sup></label>
          <input id="birthday"
                 type="date"
                 formControlName="birthday"
                 class="profile-form__input"
                 [class.invalid]="form.get('birthday').touched && form.get('birthday').invalid || form.get('birthday').invalid && formInvalid"
          >
          <div class="profile-form__error">
            <small
              *ngIf="form.get('birthday').touched && form.get('birthday').invalid && form.get('birthday').errors['required'] || form.get('birthday').invalid && formInvalid">Поле
              не может быть пустым</small>
          </div>
        </div>

        <div class="profile-form__input-container_sex">
          <p>Пол:</p>
          <div class="profile-form__male-container">
            <input type="radio" id="male" name="sex" class="input" formControlName="sex" value="male">
            <label for="male" class="profile-form__label">Мужской</label>
          </div>
          <div class="profile-form__male-container">
            <input type="radio" id="female" name="sex" class="input" formControlName="sex" value="female">
            <label for="female" class="profile-form__label">Женский</label>
          </div>
        </div>
      </div>

      <div class="profile-form__input-container">
        <label for="phoneNumber" class="profile-form__label">Мобильный телефон<sup>*</sup></label>
        <input id="phoneNumber"
               type="tel"
               maxlength="12"
               formControlName="phoneNumber"
               (ngModelChange)="currentNumber()" class="profile-form__input"
               [class.invalid]="form.get('phoneNumber').touched && form.get('phoneNumber').invalid  || form.get('phoneNumber').invalid && formInvalid"
        >
        <div class="profile-form__error">
          <small
            *ngIf="form.get('phoneNumber').touched && form.get('phoneNumber').invalid && form.get('phoneNumber').errors['required']">Поле
            не может быть пустым</small>
          <small
            *ngIf="form.get('phoneNumber').touched && form.get('phoneNumber').invalid && form.get('phoneNumber').errors['minlength']  || form.get('phoneNumber').invalid && formInvalid">Телефон
            должен содержать 11 цифр</small>
        </div>
      </div>

      <div class="profile-form__input-container">
        <label for="doctors" class="profile-form__label">Лечащий врач</label>
        <select id='doctors' formControlName="doctors" class="profile-form__input">
          <option>Иванов</option>
          <option>Захарова</option>
          <option>Черышева</option>
        </select>
      </div>

      <div class="profile-form__input-container">
        <label for="clientGroup" class="profile-form__label">Группа клиентов <sup>*</sup></label>
        <select multiple="multiple"
                id="clientGroup"
                size="3"
                formControlName="clientGroup"
                class="profile-form__input_multiple"
                [class.invalid]="form.get('clientGroup').touched && form.get('clientGroup').invalid  || form.get('clientGroup').invalid && formInvalid"
        >
          <option value="Ivanov">Иванов</option>
          <option value="Zakharova">Захарова</option>
          <option value="Cherisheva">Черышева</option>
        </select>
        <div class="profile-form__error">
          <small
            *ngIf="form.get('clientGroup').touched && form.get('clientGroup').invalid && form.get('clientGroup').errors['required'] || form.get('clientGroup').invalid && formInvalid">Поле
            не может быть пустым</small>
        </div>
      </div>

      <div class="profile-form__input-container row">
        <input type="checkbox" id="sms" formControlName="sms" class="input">
        <label for="sms" class="profile-form__label">Не отправлять СМС</label>
      </div>

      <small class="profile-form__description"><sup>*</sup> Поля обязательные для ввода</small>

      <div class="profile-form__buttons">
        <button class="profile-form__button-back" type="button" (click)="clearForm()">Отменить</button>
        <button class="profile-form__button-next" type="button" (click)="nextPage()">Далее</button>
      </div>

    </form>
  </div>
</div>
